@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLight.eot');
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
        url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLight.woff') format('woff'),
        url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.eot');
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-LightItalic.eot');
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('../fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-LightItalic.woff') format('woff'),
        url('../fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraLightItalic.eot');
    src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
        url('../fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.eot');
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.eot');
    src: local('Poppins Black'), local('Poppins-Black'),
        url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBoldItalic.eot');
    src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
        url('../fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-MediumItalic.eot');
    src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
        url('../fonts/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
        url('../fonts/Poppins-MediumItalic.woff') format('woff'),
        url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.eot');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.eot');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Thin.eot');
    src: local('Poppins Thin'), local('Poppins-Thin'),
        url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins-Thin.woff') format('woff'),
        url('../fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.eot');
    src: local('Poppins Italic'), local('Poppins-Italic'),
        url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins-Italic.woff') format('woff'),
        url('../fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ThinItalic.eot');
    src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
        url('../fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('../fonts/Poppins-ThinItalic.woff') format('woff'),
        url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BlackItalic.eot');
    src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
        url('../fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('../fonts/Poppins-BlackItalic.woff') format('woff'),
        url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-BoldItalic.eot');
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
        url('../fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-BoldItalic.woff') format('woff'),
        url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBoldItalic.eot');
    src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
        url('../fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.eot');
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
        url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('../fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('../fonts/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('../fonts/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/Roboto-LightItalic.woff') format('woff'),
        url('../fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('../fonts/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('../fonts/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('../fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff'),
        url('../fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('../fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff'),
        url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBoldItalic.eot');
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
        url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLightItalic.eot');
    src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
        url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-MediumItalic.eot');
    src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
        url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/Raleway-MediumItalic.woff') format('woff'),
        url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBoldItalic.eot');
    src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
        url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.eot');
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
        url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff'),
        url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-BlackItalic.eot');
    src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
        url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/Raleway-BlackItalic.woff') format('woff'),
        url('../fonts/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
        url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Black.eot');
    src: local('Raleway Black'), local('Raleway-Black'),
        url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/Raleway-Black.woff') format('woff'),
        url('../fonts/Raleway-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
        url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
        url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/Raleway-Italic.woff') format('woff'),
        url('../fonts/Raleway-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: local('Raleway Thin'), local('Raleway-Thin'),
        url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-LightItalic.eot');
    src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
        url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/Raleway-LightItalic.woff') format('woff'),
        url('../fonts/Raleway-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    overflow: hidden scroll;
}

main {
/* max-width: 1440px; */
    margin: 0 auto; 
    background-color: #ffffff;
    overflow: hidden;
}

body {

}

.container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
}

header {
    z-index: 5;
    /* position: fixed; */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    padding: 0 15px;
}

.menu__logo {
    width: 130px;
    height: 28px;

}

.logo {

    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;

    /* #FB9333 */

    color: #585858;
}

.span__orange {
    color: #FB9333;
}

.menu__list {
    list-style-type: none;
    margin: 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 56px;
    
    width: 421px;
    height: 41px;

}

.menu__item-1 {
    width: 49px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* #575757 */
    
    color: #575757;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu__item-2 {
    width: 45px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* #575757 */
    
    color: #575757;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu__item-3 {
    width: 66px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* #575757 */
    
    color: #575757;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.menu__item-4 {
    width: 73px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* #575757 */
    
    color: #575757;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu__btn {

}

.sign__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 16px;
    

    width: 126px;
    height: 54px;

    
    /* #FB9333 */
    
    background: #FB9333;
    border-radius: 100px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */


    /* #FFFFFF */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.home {

}

.home__content {
    display: flex;
    gap: 16px;
    overflow: hidden;
}

.home__left--textarea {
    max-width: 590px;
    max-height: 865px;
    z-index: 5;
}

.quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    margin: 128px 0 0 0;
    

    width: 213px;
    height: 53px;

    
    background: #FFF0DC;
    border-radius: 100px;
}

.quality--text {
    width: 181px;
    height: 21px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */
    
    
    /* #FB9333 */
    
    color: #FB9333;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

h1 {

    width: 590px;
    height: 282px;
    margin: 30px 0 0 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    /* or 94px */

    letter-spacing: -0.02em;

    /* #FB9333 */

    color: #575757;
}

.left--textarea-p {

    width: 496px;
    height: 64px;
    margin: 30px 0 0 0;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    /* or 32px */

    letter-spacing: -0.02em;

    color: #828282;
}

.order__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 32px;
    gap: 16px;


    width: 192px;
    height: 68px;
    margin: 35px 0 0 0;


    /* #FB9333 */

    background: #FB9333;
    border-radius: 100px;
    border: none;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */


    /* #FFFFFF */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.order__statistics {
    max-width: 361px;
    height: 61px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: 82px 0 0 0;
}

.statistic__item {
    box-sizing: border-box;
    max-width: 87px;
    height: 61px;
}

.statistic__item-p1 {
    box-sizing: border-box;
    width: 85px;
    height: 38px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    
    
    /* #575757 */
    
    color: #575757;
    margin: 0;
    
}

.statistic__item-p2 {
    box-sizing: border-box;
    width: 81px;
    height: 26px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    
    
    color: #828282;

    margin: -2px 0 0 0;
}

.home__right--area {
    max-width: 658.26px;
    overflow: hidden;
}

.right--area--el-1 {
    position: absolute;
    width: 576.1px;
    height: 418.78px;
    left: 965px;
    top: -99px;
    z-index: 1;
    background: #FB9300;
    filter: blur(800px);
}

.right--area--el-2 {
    position: absolute;
    width: 428px;
    height: 311px;
    left: 1160px;
    top: 424px;
    
    background: #FCDDDD;
    /* Layer Blur */
    z-index: 1;
    filter: blur(500px);
}

.right--area--bbls-1 {
    position: absolute;
    left: 56.17%;
    right: 28.13%;
    top: 35%;
    bottom: 90.12%;
    /* z-index: 2; */
    /* transform: matrix(0.84, 0.45, -0.61, 0.87, 0, 0);*/
}

.right--area--bbls-2 {
    position: absolute;
    left: 85.8%;
    right: 3.81%;
    top: 41.7%;
    bottom: 88.76%;
}

.right--area--wave {
    position: absolute;
    width: 718px;
    height: 312.78px;
    left: 68.41%;
    /* top: 536.89px; */
    /* z-index: 3; */
    transform: rotate(-63.92deg);
    overflow: hidden;
}

.right--area--heart {
    position: absolute;
    width: 72.44px;
    height: 71.92px;
    left: 91.04%;
    top: 19.71%;

    transform: rotate(30.14deg);
}

.right--area--girl {
    position: absolute;
    width: 658.26px;
    height: 747.23px;
    left: 51.45%;
    top: 17.11%;
    z-index: 3;
}

.right--area--smile {
    position: absolute;
    /* width: 288px; */
    /* height: 70px; */
    left: 49%;
    top: 80.67%;
    z-index: 3;
}

.right--area--graphics {
    position: absolute;
    z-index: 3;
    left: 81.67%;
    top: 79%;
}

.reasons {

}

.reasons__content {

}

.reasons__text--area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 120px 0 0 0;
}

.reasons__title {

    width: 586px;
    height: 134px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */
    
    letter-spacing: -0.02em;
    
    color: #585858;
    margin: 0;
}

.reasons__parag {
    width: 450px;
    height: 108px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    /* or 36px */
    
    letter-spacing: -0.02em;
    
    color: #828282;
    margin: 13px 0 0 132px;
}

.reasons__card--area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    /* gap: 30px; */
    margin: 64px 0 0 0;
}

.reasons__card {
    width: 370px;
    height: 483px;

    
    /* #FFFFFF */
    
    background: #FFFFFF;
    /* jez salad card */
    border: 1px solid;
    /* box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2); */
    border-radius: 50px;
}

.reasons__card--header {

}


.card__icon {
    margin: 40px 0 0 40px;
}


.reasons__card--body {

}

.reasons__card--title {
    width: 257px;
    height: 43px;



    margin: 80px 0 0 40px;

}

.reasons__card--title--text {
    /* width: 207px;
    height: 43px; */

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    /* or 43px */
    
    letter-spacing: -0.02em;

    color: #2B2B2B;
}

.reasons__card--text {
    width: 300px;
    height: 87px;


    margin: 12px 0 0 40px;

}

.reasons__card--text-p {
    /* width: 267px;
    height: 87px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* or 29px */
    
    letter-spacing: -0.02em;
    
    /* #575757 */

    color: #575757;
}

.reason__card--btn {
    width: 170px;
    height: 49px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */

    letter-spacing: -0.02em;

    /* #575757 */
    background: #ffffff;
    color: #575757;
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    border: none;
    margin: 24px 0 0 15px;
}

.reason__card__arrow {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: -4px;
}


.reviev__part {
    max-height: 670px;
    background: linear-gradient(180deg, #FFF8ED 0%, rgba(255, 248, 237, 0.5) 100%);
}

.reviev__part__content {
    display: flex;
    max-height: 442px;
    margin: 107px 0 0 54px;
    padding-top: 113px;
    padding-bottom: 121px;
}

.reviev__part--text {
    max-width: 415px;
}

.reviev__part--h2 {
    width: 415px;
    height: 128px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #333333;

}

.reviev__part--p {
    width: 400px;
    height: 72px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    /* Text/Default in Field */

    color: #999999;
    margin: 30px 0 0 0;
}

.reviev__part__carousel__ind {
    display: flex;
    margin: 32px 0 0 0;
}


.current__carousel__indicator {
    width: 64px;
    height: 64px;

    
    /* Headings Bold/48px */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Text/Title Text */
    
    color: #333333;
    margin: 0;
}

.general__carousel__indicator {
    width: 48px;
    height: 22px;

    
    /* Headings Bold/16px */
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    /* Text/Disable */
    
    color: #CCCCCC;
    margin: 32px 0 0 0;
}



.reviev__part--carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.carousel__btns {
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.previous__btn {
    width: 56px;
    height: 56px;
    background: #FFD7A0;
    border-radius: 10px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.prev__arr {
    rotate: 180deg;
}

.next__btn {
    width: 56px;
    height: 56px;
    background: #FB9333;
    border-radius: 10px;
    margin: 0 0 0 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.next__arr {

}

.carousel__card__block {
    display: flex;
    margin: 34px 0 0 56px;
    overflow: hidden;
    height: 100%;
}

.carousel__card {
    
    width: 269px;
    height: 402px;

    margin: 44px 0 0 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.card__img {
    margin: -40px 0 0 24px;
}

.card__header {
/* Selena Gomz */

    margin: 72px 0 0 24px;

    width: 181px;
    height: 32px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* #2B2B2B */

    color: #2B2B2B;
}

.card__p__age {
    margin: 8px 0 0 24px;
    width: 155px;
    height: 21px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    
    /* Text/Default in Field */
    
    color: #999999;
    
}

.card__p__text {
    margin: 19px 0 0 24px;
    width: 221px;
    height: 168px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    
    letter-spacing: -0.02em;
    
    /* #575757 */
    
    color: #575757;
}

/* место класса-анимации для карусели */

.food-menu__section {

}

.food-menu__content {

}

.pre-h__parag {
    margin: 120px 0 0 0;
    /* width: 450px; */
    height: 36px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    /* identical to box height, or 36px */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    /* #FB9333 */
    
    color: #FB9333;
    
}

.food-menu__h {
    margin: 12px 0 0 0;
    /* width: 732px; */
    height: 134px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: #585858;
}

.food-menu {
    margin: 72px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.food-menu__card {
    width: 370px;
    height: 520px;
    border-radius: 50px;
    

}
#cbg1{
    background-image: url(../src/images/cbg1.png); 
}
#cbg2{
    background-image: url(../src/images/cbg2.png); 
    margin-left: 27px;
}
#cbg3{
    background-image: url(../src/images/cbg3.png); 
    margin-left: 27px;
}

.food__name {
    
    width: 260px;
    height: 33px;

    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    padding: 396px 0 0 43px;
    margin: 0;
    /* #FFFFFF */
    
    color: #FFFFFF;
}

.food__price {

    width: 150px;
    height: 45px;
    margin: 6px 0 0 43px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* or 52px */
    
    
    /* #FFFFFF */
    
    color: #FFFFFF;
}


.sub__form--content {

    /* width: 1170px; */
    height: 550px;
    margin: 150px 0 0 0;
    background: #FFF8ED;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.sub__form--text {

}

.sub__form--p1 {
    margin: 48px 0 0 0;
    height: 36px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    /* identical to box height, or 36px */

    text-align: center;
    letter-spacing: -0.02em;

    /* #FB9333 */

    color: #FB9333;
}

.sub__form--h {
    margin: 0;

    height: 134px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 140%;
    /* or 67px */

    text-align: center;
    letter-spacing: -0.02em;

    color: #585858;
}

.sub__form--p2 {
    margin: 24px 0 0 0;

    height: 52px;


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    text-align: center;
    letter-spacing: -0.02em;

    /* #575757 */

    color: #575757;

    opacity: 0.7;
}

.sub__form--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 8px 10px 31px; */
    gap: 16px;
    margin: 80px 0 0 0;

    width: 700px;
    height: 80px;

    
    background: #FFFFFF;
    box-shadow: 0px 8px 20px -30px rgba(151, 109, 0, 0.08);
    border-radius: 100px;
}

.sub__form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.syb__form--field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    margin-left: 21px;
    width: 236px;
    height: 45px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    text-align: center;
    letter-spacing: -0.02em;

    /* #575757 */

    color: #575757;

    opacity: 0.7;
    border: none;
}

.sub__form--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 16px;
    margin-left: 245px;

    width: 170px;
    height: 64px;
    
    /* #FB9333 */
    
    background: #FB9333;
    border-radius: 100px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    text-align: center;
    letter-spacing: -0.02em;

    /* #FFFFFF */

    color: #FFFFFF;

}


